@page
@model bluedit.Pages.LoginModel
@{
	ViewData["Title"] = "Connexion";
}

<style>
	form {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	.submit-button {
		align-self: flex-end;
	}

	.text-input {
		padding: 10px;
	}
</style>

<h1>Connectez-vous !</h1>

<form method="post">
	<input class="text-input" type="text" name="Pseudo" placeholder="Nom d'utilisateur" />
	<input class="text-input" type="password" name="Password" placeholder="Mot de passe" />
	<input type="submit" class="submit-button" value="Se connecter" />
	<div><a href="/signup">Mot de passe oublié ?</a></div>
	<div>Nouveau sur bluedit ? <a href="/signup">Inscrivez-vous !</a></div>
</form>