@page "/u/{UserName}"
@model bluedit.Pages.ProfileModel
@{
	ViewData["Title"] = $"u/{Model.UserName}";
}

<h1>u/@Model.UserName</h1>
<p>Blueditor depuis le @Model.Blueditor.CreationDate.ToLongDateString()</p>

@if (!Model.isCurrentUser) {
	<p>@Model.Blueditor.Description</p>
}
else
{
	<style>
		.description-form {
			display: grid;
			grid-template-columns: 1fr auto;
			column-gap: 10px;
		}

		.description-input {
			border-radius: var(--rounded-corner);
			padding-inline: 10px;
			resize: none;
		}

		.save-description-button {
			background-color: blue;
		}

		.current-user-forms {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}

		.log-out-button {
			background-color: red;
		}
	</style>

	<div class="current-user-forms">
	<form class="description-form" method="post">
		<textarea class="description-input" name="description" placeholder="Modifiez votre description..." maxlength="256">@Model.Blueditor.Description</textarea>
		<button type="submit" class="bluedit-button submit-button save-description-button" asp-page-handler="Save">Sauvegarder</button>
	</form>

	<form method="post">
			<button type="submit" class="bluedit-button submit-button log-out-button" asp-page-handler="Disconnect">Déconnexion</button>
	</form>
	</div>
}