@page "/u/{UserName}"
@model bluedit.Pages.ProfileModel
@{
	ViewData["Title"] = $"u/{Model.UserName}";
}

<h1>@Model.UserName</h1>
<p>@Model.Blueditor.CreationDate.ToLongDateString()</p>
<p>@Model.Blueditor.Description</p>

<form method="post">
    <button type="submit" class="submit-button" asp-page-handler="Disconnect">Déconnexion</button>
</form>