@page "/u/{UserName}"
@model bluedit.Pages.ProfileModel
@{
	ViewData["Title"] = $"u/{Model.UserName}";
}

<h1>@Model.UserName</h1>
<p>@Model.Blueditor.CreationDate.ToLongDateString()</p>
<p>@Model.Blueditor.Description</p>

<!-- Only display if current user -->
<button>Disconnect</button>