@page "/u/{UserName}"
@model bluedit.Pages.ProfileModel
@{
	ViewData["Title"] = $"u/{Model.UserName}";
}

<h1>u/@Model.UserName</h1>
<p>Blueditor depuis le @Model.Blueditor.CreationDate.ToLongDateString()</p>

@if (!Model.isCurrentUser) {
	<p>@Model.Blueditor.Description</p>
}
else
{
	<form method="post">
		<textarea name="description" placeholder="Modifiez votre description..." maxlength="256">@Model.Blueditor.Description</textarea>
		<button type="submit" class="submit-button" asp-page-handler="Save">Sauvegarder</button>
	</form>

	<form method="post">
		<button type="submit" class="submit-button" asp-page-handler="Disconnect">Déconnexion</button>
	</form>
}