:root {
    --answer-button-color: rgb(209, 236, 240);
    --rounder-corner: 3rem;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    font-weight: bold;
}

hr {
    margin: 0.1rem 0;
}

.header-right-button {
    background-color: blue;
}

.answer {
    display: flex;
    border-radius: 5px;
    padding-block: 5px;
    padding-inline: 10px;
    flex-direction: column;
    row-gap: 5px;
}

.answer-chip {
    display: flex;
    flex-direction: row;
    border-radius: var(--rounder-corner);
    background-color: var(--answer-button-color);
    width: fit-content;
    height: 32px;
    align-items: center;
}

.vote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    border: none;
    background-color: var(--answer-button-color);
}

    .vote-button:hover {
        background-color: rgb(180, 219, 224);
    }

.bluedit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.5rem;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: var(--rounder-corner);
    text-decoration: none !important;
}

.user-or-category-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.answer-top-info {
    font-size: 0.875rem;
    column-gap: 0.25rem;
}

.answer-top-info,
.thread-bottom-info {
    display: flex;
}

.thread-bottom-info {
    column-gap: 0.25rem;
}